.cart-area{
    width:341px;
    background-color:#fff;
    position:fixed;
    right:0;
    top:0px;;
    height:320px;
    color:#000;
    text-align:left;
    padding:20px;
    box-sizing:border-box;
    border:5px solid black;
}
.order-head{
    text-align:center;
    border-bottom: 4px solid black;
    padding-bottom:10px;
}
.check-out-btn{
    margin:0 auto;
    text-align:center;
    display:block;
    background-color:yellow;
    border:3px solid yellowgreen;
    padding:5px 15px;
    font-size:20px;
    font-weight:600;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    cursor:pointer;
}