.product-details{
    width:60%;
    margin:10px auto;
    border:10px solid #FF9800;
}
.product-details img{
    height:400px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.product-details .pd-name{
    font-size:25px;
    width:50%;
    margin:0 auto;
    color:#2b2b2b;
}
.product-details .details-area{
    background-color:#FF9800;
    padding:20px;
}
.product-details .pd-seller{
    font-size:20px;
    padding-top:10px;
    width:50%;
    margin:0 auto;
}
.product-details .pd-price{
    font-size:18px;
    padding-top:10px;
    width:50%;
    margin:0 auto;
}
.buttons{
    background:darkslategrey;
    border:2px solid #2b2b2b;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding:10px 60px;
    margin:10px 5px;
    cursor:pointer;
    color:white;
    font-size:22px;
}
.buttons:hover{
    color:#ffffffdf;
    background:#4a5a5a;
}