.product{
    display:flex;
    margin:15px;
    padding:15px;
    background:white;
    border:4px solid black;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.product .image-area{
    padding-right:20px;
}
.product .product-detail{
    padding-left:20px;
    border-left:2px solid black;
}
.product .order-btn{
    background-color:#f0cd06;
    padding:5px 25px;
    font-size:18px;
    font-weight:500;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    cursor:pointer;
}
.product .order-btn:hover{
    background-color:silver;
}