.header img{
    height:80px;
    width:300px;
    margin-top:20px;
}
.header nav{
    text-align:left;
    padding:10px 20px;
    background-color:black;
    margin-top:20px;
}
.header nav a{
   color:white;
   text-decoration:none;
   margin-left:15px;
   padding:10px;
   font-size:20px;
}
.header nav a:hover{
   background-color:gray;
}